h4{
    text-align: center;
   
}

.h4-underline {
    color: deepskyblue;
    width: 5%;
    height: 5%;
}




.form-control:invalid {
    border-color: deepskyblue;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.grid-item-full {
    grid-column: 1 / -1;
}



.error-h1 {
    text-align: center;
    text-decoration: underline;
}

