html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #003b95;
}

h1,h6 {
    color: black;
    font-weight: bold;
}

p, li,label{
    color: white;
}

#hasPool, #hasParking, #hasBreakfast {
    margin-right: 2%;
}

#city, #checkinDate, #checkoutDate, select{
    background-color: white;
    color: mediumpurple;
}
.form-container {
    background-color: #ffb700;
    display: flex;
    flex-direction: row; 
    align-items: center !important;
    justify-content: center !important;
    border-radius: 5px;
    width: 65.5%;
    height: 3.1rem;
    margin: 0 auto;
}
#carouselDiv img{
    border-radius: 30px;
    padding: 10px, 10px, 10px, 10px;
    border: pink;
    margin: auto;
    display: inline-block;
    border: solid mediumpurple 30px;
    box-shadow: 0 0 0 30px hsl(230, 18%, 24%);
}

.carousel-item{
    border-radius: 30px;
    border:solid hsl(230, 18%, 24%) 30px
}

#navbar {
    margin-bottom: 0;
}

#carouselDiv {
    background-color: #272B36;
    filter: brightness(115%);
    align-items:center;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    background-color: #f1f1f1;
}

footer li, footer p{
    color: black;
}

#footer {
    margin: 0 auto;
    width: 100%;
    color: black;
}

#footer .text-uppercase {
    margin-top: 20px;
}

span{
    font-weight:bolder;
    color: red;
}

.carousel-caption h5 {
    color: lightgrey;
}

.card-body p, .card-body h5{
    color: black
}


.booked-hotels{
    margin-top:8px;
    margin-right:3px;
}