html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #003b95;
}

h1,h6 {
    color: black;
    font-weight: bold;
}

.form-container {
    background-color: #ffb700;
    display: inline-flex;
    flex-direction: row; 
    align-items: center !important;
    justify-content: center !important;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
    height: 3.1rem;
    margin: 0 auto;
}

#navbar {
    margin-bottom: 0;
}

footer{
    background-color: #f1f1f1;
}

footer li, footer p{
    color: black;
}

#footer {
    margin: 0 auto;
    width: 100%;
    color: black;
}

#footer .text-uppercase {
    margin-top: 20px;
}

.card-body p, .card-body h5{
    color: black
}

.booked-hotels{
    margin-top:8px;
    margin-right:3px;
}