@*@model ErrorViewModel*@
@*@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="error-message">
                <h1>Oops!</h1>
                <h2>Something went wrong.</h2>
            </div>
            <p>We apologize for the inconvenience, but the page you were trying to access is currently unavailable.</p>
            <p>Please try again later or contact support if the problem persists.</p>
            @if (Model != null && Model.Exception != null)
            {
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title">Error details</h5>
                    </div>
                    <div class="card-body">
                        <p>@Model.Exception.Message</p>
                        <p>@Model.Exception.StackTrace</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@


@*<h1>Error 404</h1>*@